footer {
    background: #000;
    padding: 50px 0;
}

footer .blocks {
    display: flex;
    justify-content: space-between;
}

footer .logo {
    text-transform: uppercase; /* Uppercase - заглавные буквы*/
    font-size: 29px; /* размер шрифта */
    font-weight: 800; /* жирность */
}

footer .blocks p {
    width: 380px;
}

footer .blocks h4 {
    font-weight: 500;
    font-size: 17px;
}

footer .blocks ul {
    list-style: none;
}

footer .blocks ul li {
    margin-top: 7px;
    opacity: 0.8; /*прозрачность*/
}

footer hr {
    margin: 30px 0;
}

footer > p {
    text-align: center;
}